


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  font-family: 'Times New Roman', Times, serif;
}

.video-fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-fondo video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}



.video-fondo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 1;
}

.video-fondo a {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transform: rotateX(90deg);
  opacity: 0;
  animation: flipDown 3s ease-out forwards;
  text-decoration: none;
  font-weight: 100;
}

@keyframes flipDown {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}





footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #101828;
  color: white;
  text-align: center;
  line-height: 50px;
  
  font-size: 1em;
}

