<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/start.css">
    <title>pagina de inicio</title>
</head>
<body>


    <header class="video-fondo">

        <video autoplay muted loop>
            <source src="../video/fondo-start.mp4" type="video/mp4">
        </video>

        <h1>Valtari</h1>
        <p>
            Valtari nace de la obsesión por lo perfecto.
        </p>
        <button>Maneja  con nosotros</button>
    </header>


    <main>

    </main>

    <footer>
        <p>© 2025 Felipe Palmar. All rights reserved.</p>
        <p>Your journey begins here.</p>
    </footer>
</body>
</html>