<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/dashboard.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>Document</title>
</head>
<body>
  <header class="topbar">
    <button class="hbtn" id="hbtn" aria-label="Abrir menú">
      <section class="lines">
        <span></span>
        <span></span>
        <span></span>
      </section>

      <p class="menu-text">Menú</p>
    </button>
    <h1 class="titulo">P.L.R Automotriz</h1>
    <video autoplay muted loop>
      <source src="../video/dashboard.mp4" type="video/mp4">
    </video>
    <h2 class="page-content">Más que Conducir Es Distinción</h2>
  </header>
 
  <!-- OVERLAY -->
  <div class="overlay" id="overlay"></div>
 
  <!-- PANEL LATERAL -->
  <nav class="panel" id="panel" aria-label="Menú principal">
    <div class="panel-top">
      <button class="close-btn" id="close-btn" aria-label="Cerrar menú">&#x2715;</button>
    </div>
 
    <div class="nav-items">
 
      <div class="nav-item" data-sub="sub-modelos">
        Aliados Automotrices <span class="chevron">&#x203A;</span>
      </div>
      <div class="sub-items" id="sub-modelos">
        <a href="../views/viewChevrolet.html?marca=Chevrolet">
          <div class="sub-item">Chevrolet</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Toyota">
          <div class="sub-item">Toyota</div>
        </a>
        <div class="sub-item">Kia</div>
        <a href="../views/viewChevrolet.html?marca=Bmw">
          <div class="sub-item">Bmw</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Mazda">
          <div class="sub-item">Mazda</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Ford">
          <div class="sub-item">Ford</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Hyundai">
          <div class="sub-item">Hyundai</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Renault">
          <div class="sub-item">Renault</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Nissan">
          <div class="sub-item">Nissan</div>
        </a>
        <a href="../views/viewChevrolet.html?marca=Toyota">
          <div class="sub-item">Mercedes Benz</div>
        </a>

      </div>
 
      <div class="nav-item" data-sub="sub-compra">
        <a href="#compracredi">
          Asesoramiento y compra<span class="chevron">&#x203A;</span>
        </a>
      </div>
 
      <div class="nav-item" data-sub="sub-servicios">
        Servicios <span class="chevron">&#x203A;</span>
      </div>
      <div class="sub-items" id="sub-servicios">
        <div class="sub-item">Mantenimiento</div>
        <div class="sub-item">Garantía</div>
      </div>
 
      <div class="nav-item">
        Experiencia <span class="chevron">&#x203A;</span>
      </div>
 
      <div class="nav-item">
        Concesionario <span class="chevron">&#x203A;</span>
      </div>
 
    </div>
  </nav>
 
  <!-- CONTENIDO -->
  <main>

    <section >

      <div class="carousel">
        
        <div class="track">


          <img src="../img/carousel_logos/chevrolet.png">
          <img src="../img/carousel_logos/toyota.png">
          <img src="../img/carousel_logos/kia.png">
          <img src="../img/carousel_logos/bmw1.png">
          <img src="../img/carousel_logos/mazda.png">
          <img src="../img/carousel_logos/ford.png">
          <img src="../img/carousel_logos/Hyundai.png">
          <img src="../img/carousel_logos/Renault.png">
          <img src="../img/carousel_logos/Nissan.png">
          <img src="../img/carousel_logos/mercedes.png">
          <!-- DUPLICA para efecto infinito -->
          <img src="../img/carousel_logos/chevrolet.png">
          <img src="../img/carousel_logos/toyota.png">
          <img src="../img/carousel_logos/kia.png">
          <img src="../img/carousel_logos/bmw1.png">
          <img src="../img/carousel_logos/mazda.png">
          <img src="../img/carousel_logos/ford.png">
          <img src="../img/carousel_logos/Hyundai.png">
          <img src="../img/carousel_logos/Renault.png">
          <img src="../img/carousel_logos/Nissan.png">
          <img src="../img/carousel_logos/mercedes.png">
          

        </div>
      </div>
    </section>
    <h2 class="reveal-title ">Nuestra Colección Destacada</h2>
    <div class="cards-container seccion-color" id="seccionColor">
      

      <a href="vehiculo.html" class="card reveal">
        <img src="../img/corolla.webp" alt="Auto">
        <h3 class="tittlecs reveal">Toyota</h3>
        <div class="card-info">
          <span class="tag">Corolla hatchback </span>
          <p>Preciona Aquí Para Mas Información  ➜</p>
        </div>
      </a>

      <a href="vehiculo.html" class="card reveal">
        <img src="../img/mazda3Sedan.jfif" alt="Auto">
        <h3 class="tittlecs reveal">Mazda </h3>
        <div class="card-info">
          <span class="tag">Mazda3 híbrido </span>

          <p>Preciona Aquí Para Mas Información  ➜</p>
        </div>
      </a>

      <a href="vehiculo.html" class="card reveal">
        <img src="../img/mercedesClaseC200.avif" alt="Auto">
        <h3 class="tittlecs reveal">Mercedes</h3>
        <div class="card-info">
          <span class="tag">Modelo Clase C200 </span>
          <p>Preciona Aquí Para Mas Información  ➜</p>
        </div>
      </a>

      <a href="vehiculo.html" class="card reveal">
        <img src="../img/ford-bronco.jpg" alt="Auto">
        <h3 class="tittlecs reveal">Ford</h3>
        <div class="card-info">
          <span class="tag">Ford-Bronco</span>
    
          <p>Preciona Aquí Para Mas Información  ➜</p>
        </div>
      </a>

    </div>
    <section id="compracredi">
      <h2 class="reveal-title" >Asesoramiento De Compra</h2>
      <section class="cards-info">
        <a href="vehiculo.html" class="sbre reveal">
          <img src="../img/Servicess/compra.png" alt="Auto">
          <h3 class="servi reveal">Compra Credito</h3>
          <div class="card-info">

            <p>Financia tu vehículo con planes flexibles y cuotas a tu medida.  ➜</p>
          </div>
        </a>
        <a href="vehiculo.html" class="sbre reveal">
          <img src="../img/Servicess/financiacion.png" alt="Auto">
          <h3 class="servi reveal">Compra Hoy</h3>
          <div class="card-info">
            <p>No esperes más, llévatelo hoy  ➜</p>
          </div>
        </a>
      </section>
    </section>
    
    
  </main>

  <footer class="footer">

    <div class="top-footer">
      <a href="#">Volver arriba</a>
    </div>

    <div class="footer-container">

      <!-- Región -->
      <div class="footer-column">
        <h4>Región / Atlantico</h4>

        <div class="country">
          <img src="../img/Pie de pagina/colombia.webp" alt="Colombia">
          <span>Colombia / Español</span>
          <a href="#">Cambiar</a>
        </div>
      </div>

      <!-- Contacto -->
      <div class="footer-column">
        <h4>Ubicación y contacto</h4>

        <a href="#">Ponte en contacto con nosotros</a>
      </div>

      


      <!-- Porsche web -->
      <div class="footer-column">
        <h4>La web</h4>

        <a href="#">Página de P.L.R Automotriz</a>

      </div>

    </div>

    <!-- Redes -->
    <div class="footer-bottom">

      <div class="socials">
        
        <a href="https://facebook.com" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="">
          <i class="fa-brands fa-x-twitter"></i>
        </a>

      </div>
    </div>

  </footer>
 <script src="../js/dashnoard.js"></script>
</body>
</html>