<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/start.css">
    <title>pagina de inicio</title>
</head>
<body>


    <header class="video-fondo">

        <video autoplay muted loop>
            <source src="../video/Video_de_Camioneta_a_Toda_Velocidad.mp4" type="video/mp4">
        </video>


        <button>Empieza hoy</button>
    </header>


    <main>

    </main>

    <footer>
        <p>© 2025 P.L.R.Automotriz. Todos los derechos reservados.</p>
        <p>Your journey begins here.</p>
    </footer>
</body>
</html>